.login_wrap {
  padding: 4em 0 5em;
}

.login_box {
  width: 23em;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 4em;
}

.loginText {
  /* border: 1px solid red; */
  font-weight: 550;
  font-size: 25px;
  text-align: center;
  padding-bottom: 0.5em;
}

.loginText2 {
  padding-bottom: 1.5em;
}

.input_box {
  /* border: 1px solid red; */
  border-top: 1px solid #ddd;
  padding-top: 3em;
}

.login_inp {
  padding: 0.8em 0 1em 0;
}

#userId
, #userPw
, .kakao_box
, .login_submit {
  width: 25em;
  height: 3.8em;
  outline: none;
  border: 1px solid #ddd;
  padding: 0 1em 0 1em;
}

.login_submit
, .kakao_box {
  width: 24.4em;
  height: 4em;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.submit_box {
  padding-bottom:1em;
}

.login_text {
  font-size: 15px;
  font-weight: 550;
  padding-bottom: 0.5em;
}

.find_signup {
  display: flex;
  justify-content: center;
}

.find_idpw {
  border-right: 1px solid #ddd;
}

.find_idpw
, .signup_link {
  color: gray;
  font-size: 15px;
  padding: 0 1em 0 1em;
}