<!-- header -->
<th:block th:replace="/home/header.html :: headerFragment"></th:block>

<div class="login_wrap">
  <form action="" method="post">
    <div class="form_inner">
      <p class="login_title">
        로그인 하시고 <br> 함께 다양한 집을 구경해보아요.
      </p>
      <!-- 아아디/비밀번호 입력창 -->
      <div class="input_box">
        <div class="input_inner">
          <input type="text" name="userId" id="userId" placeholder="이메일 주소 입력" />
          <input type="password" name="userPw" id="userPw" placeholder="비밀번호 입력" />
        </div>
      </div>
      <!-- 로그인/카카오 로그인 버튼 -->
      <div class="login_btn">
        <input type="submit" value="로그인" />
        <div class="kakao_box">
          <a href="/" class="kakao_login">
            <img src="/" alt="카카오로그인이미지">
          </a>
        </div>
      </div>
      <!-- 비밀번호 찾기 -->
      <div class="find_box">
        <a href="/" class="find_idpw">비밀번호 찾기</a>
      </div>
      <!-- 회원가입 바로가기 -->
      <div class="signup_box">
        <div class="signup_inner">
          <span class="signup_txt">아직 회원이 아니신가요?</span>
          <a th:href="@{/user/register}" class="signup_link">회원가입</a>
        </div>
      </div>
    </div>
  </form>
</div>