<th:block th:fragment="mainFragment">

<div class="main_wrap">
  <div class="main_inner">
    <main>
      <section class="section section_01">
        <div class="section_inner">
          <!-- title -->
          <div class="title_box">
            <p>어떤 집을 보고싶으세요?</p>
          </div>
          <!-- search -->
          <div class="search_box">
            <div>
              <input type="search" id="search_input" placeholder="원하시는 지역명, 아파트명을 입력해주세요.">
            </div>
            <div>
              <button class="search_btn"><i class="fa fa-search fa-lg fa-2x search__icon"></i></button>
            </div>
          </div>
        </div>
      </section>

      <section class="section section_02">
        <div class="section_inner_02">
          <!-- news -->
          <div class="news_box main_comm_box">
            <div class="news_inner main_comm_inner">
              <div class="news_top main_comm_top">
                <div class="news_title main_comm_title"><strong>뉴스</strong></div>
                <div class="news_more main_comm_more">
                  <a href="/" class="news_link main_comm_link">더보기</a>
                </div>
              </div>
              <div class="content_box">
                <ul class="main_content">
                  <li class="comm_content"><a href="/">뉴스 제목입니다.</a></li>
                  <li class="comm_content"><a href="/">뉴스 제목입니다.</a></li>
                  <li class="comm_content"><a href="/">뉴스 제목입니다.</a></li>
                  <li class="comm_content"><a href="/">뉴스 제목입니다.</a></li>
                  <li class="comm_content"><a href="/">뉴스 제목입니다.</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- notice -->
          <div class="notice_box main_comm_box">
            <div class="notice_inner main_comm_inner">
              <div class="notice_top main_comm_top">
                <div class="notice_title main_comm_title"><strong>공지사항</strong></div>
                <div class="notice_more main_comm_more">
                  <a href="/" class="notice_link main_comm_link">더보기</a>
                </div>
              </div>
              <div class="content_box">
                <ul class="main_content">
                  <li class="comm_content"><a href="/">[공지] 공지사항 입니다.</a></li>
                  <li class="comm_content"><a href="/">[공지] 공지사항 입니다.</a></li>
                  <li class="comm_content"><a href="/">[공지] 공지사항 입니다.</a></li>
                  <li class="comm_content"><a href="/">[공지] 공지사항 입니다.</a></li>
                  <li class="comm_content"><a href="/">[공지] 공지사항 입니다.</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section_03">
        <!-- community -->
        <div class="comm_box">
          <div class="comm_inner">
            <div class="comm_top main_comm_top">
              <div class="comm_title main_comm_title"><strong>우리동네 이야기</strong></div>
              <div class="comm_more main_comm_title">
                <a href="/" class="comm_link main_comm_link">더보기</a>
              </div>
            </div>
            <div class="content_box">
              <div class="story_content">
                <div class="comm_wrap">
                  <a href="/">
                    <div class="story_inner">
                     <div class="comm_img"></div>
                     <div class="story_detail">
                       <strong class="comm_detail_title">우리동네 이야기 제목</strong>
                       <p class="comm_detail">우리동네 이야기 상세 내용 이야기 상세내용 입니다</p>
                     </div>
                    </div>
                  </a>
                </div>
                <div class="comm_wrap">
                  <a href="/">
                    <div class="story_inner">
                     <div class="comm_img"></div>
                     <div class="story_detail">
                       <strong class="comm_detail_title">우리동네 이야기 제목</strong>
                       <p class="comm_detail">우리동네 이야기 상세 내용 이야기 상세내용 입니다</p>
                     </div>
                    </div>
                  </a>
                </div>
                <div class="comm_wrap">
                  <a href="/">
                    <div class="story_inner">
                     <div class="comm_img"></div>
                     <div class="story_detail">
                       <strong class="comm_detail_title">우리동네 이야기 제목</strong>
                       <p class="comm_detail">우리동네 이야기 상세 내용 이야기 상세내용 입니다</p>
                     </div>
                    </div>
                  </a>
                </div>
                <div class="comm_wrap">
                  <a href="/">
                    <div class="story_inner">
                     <div class="comm_img"></div>
                     <div class="story_detail">
                       <strong class="comm_detail_title">우리동네 이야기 제목</strong>
                       <p class="comm_detail">우리동네 이야기 상세 내용 이야기 상세내용 입니다</p>
                     </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </main>
  </div>
</div>
</div>

</th:block>